* {
  font-family: "Proza Libre", sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
}

.header-container {
  max-width: 575px;
  margin: 0 auto;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-top: 0;
  font-weight: normal;
  font-size: 2rem;
  color: #fff;
  background-color: #562b81;
}

.heading {
  font-weight: 600;
  font-size: 1.75rem;
  padding-left: 10px;
}

img {
  width: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

button {
  display: flex;
  justify-content: center;
  width: 15%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #562b81;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.placeholder {
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightgray;
  line-height: 1.75rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 900px;
  }
}

.row-entries {
  display: flex;
  justify-content: space-between;
}

.button-new {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  padding: 5px;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #562b81;
  cursor: pointer;
  border-radius: 0.25rem;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
